// art.askama

#preview-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-top: 0.8rem;
    gap: 8pt;

    .child {
        border: 3pt solid #0005;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
        overflow-wrap: break-word;
        padding: 0.8rem;
        margin: 0;
        background-image: linear-gradient(#fff5, #0005);

        p {
            text-shadow: 2px 1px 3px black;
        }

        pre {
            margin: 0;
            font-size: 80%;
            white-space: wrap;
            word-wrap: break-all;
            overflow-wrap: anywhere;
            max-width: 80%;
            user-select: none;
        }
    }
}
