@mixin dark-theme {
	--background-color: #1a1b1f;
	--primary-color: #28a3eb;
	--text-color: #fff;
}
@mixin light-theme {
	--background-color: #d2d5ec;
	--primary-color: #2082b8;
	--text-color: #000;
}

:root {
	@include dark-theme;
	color-scheme: light dark;
}
:root[color-scheme="light"] {
	@include light-theme;
}
:root[color-scheme="dark"] {
	@include dark-theme;
}

[data-theme="light"] {
	@include light-theme;
	color-scheme: light;
}
[data-theme="dark"] {
	@include dark-theme;
	color-scheme: dark;
}